html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container-lg {
  max-width: calc($container-lg + $container-padding-x*2);
  padding: 0;
  width: 100%;
  margin: 0 auto;
}
.container-xlg {
  max-width: calc($container-xlg + $container-padding-x*2);
  padding: 0;
  width: 100%;
  margin: 0 auto;
}
.container-md {
  max-width: calc($container-md + $container-padding-x*2);
  padding: 0;
  width: 100%;
  margin: 0 auto;
}
a {
  text-decoration: none;
  transition: 0.4s;
}
a:hover {
  // font-size: calc($txt-normal * 1.1);
  color: $c-accent;
}
.btn-circle:hover  {
  color: #f0145a;
}
