.theme-dark {
  background: $gragient-supersoft;
  .txt-primary {
    color: $c-white;
  }
}
.theme-light {
  background-color: $c-white;
  .txt-primary {
    color: $c-indigo;
  }
}
.section-gradient {
  min-height: 100vh;
  border-radius: 0 0 12px 12px;
  position: relative;
  margin-bottom: 20px;
  &__shadow {
    position: absolute;
    height: 10px;
    border-radius: 0 0 12px 12px;
  }
  &__shadow--1 {
    bottom: -10px;
    width: calc(100% - 40px);
    left: 20px;
    background: #cacadb;
  }
  &__shadow--2 {
    bottom: -20px;
    width: calc(100% - 80px);
    left: 40px;
    background: #e7e7f2;
  }
}
.main-wrap {
  min-height: 100vh;
  position: relative;
  &__bg {
    position: absolute;
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
    &--object {
      position: absolute;
      height: 100%;
    }
  }
  &__content {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__nav {
    padding-bottom: 40px;
  }
}
.main-header {
  display: grid;
  align-items: end;
  padding: 0 60px;
  grid-template-areas: "logo info" "logo nav";
  @media screen and (max-width: $md) {
    grid-template-areas: "info" "logo" "nav";
  }
  &__logo {
    grid-area: logo;
  }
  &__info {
    grid-area: info;
    display: flex;
    align-items: end;
    gap: 7px;
    padding-top: 50px;
    padding-bottom: 16px;
    align-items: center;
  }
  
  &__nav {
    grid-area: nav;
    display: flex;
    gap: 15px;
  }
  &__info,
  &__nav {
    justify-self: start;
    @media screen and (min-width: $md) {
      justify-self: end;
    }
  }
}
.main-header__info__lang:hover {
  padding: 5px 7px;
  gap: 6px;
  width: 33px;
  height: 25px;
  background: #F0145A;
  border-radius: 8px;
}
.main {
  align-self: center;
  font-weight: 700;
  font-size: $h1;
  line-height: 46px;
  color: $c-white;
  padding-bottom: 40px;
}
.btn-circle {
  display: flex;
  justify-content: center;
}
.section-slider {
  margin-top: 60px;
  display: flex;
  gap: 60px;
  align-items: center;
  
  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
    text-align: right;
    border-right: 4px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    padding-right: 60px;
    &__title {
      font-weight: 700;
      font-size: 38px;
      line-height: 46px;
      color: $c-grey-600;
    }
  }
  &__desc {
    max-width: 861px;
    min-height: 157px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    &__title {
      font-weight: 700;
      font-size: $h2;
      line-height: 37px;
      color: $c-white;
    }
    &__txt {
      font-weight: 400;
      font-size: $txt-exmd;
      line-height: 30px;
      color: $c-white;
    }
  }
}
.section-services {
  margin-top: 60px;
  &--link {
    display: block;
    font-weight: 700;
    font-size: $h3-caps;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__title {
    margin-bottom: 60px;
    font-weight: 700;
    font-size: $h1;
    line-height: 46px;
    color: $c-accent;
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;

    &__card {
      display: flex;
      max-width: 440px;
      flex-direction: column;
    }
    &__icon {
      width: 92px;
    }
    &__title {
      font-weight: 700;
      font-size: $h3;
      line-height: 27px;
      color: $c-blue-400;
      padding: 30px 0 15px 0;
    }
    &__txt {
      font-weight: 400;
      font-size: $txt-normal;
      line-height: 26px;
      color: $c-white;
    }
  }
}
.link-color {
  color: $c-blue-400;
}

.carousel-inner {
  background-color: $c-grey-300;
  margin-top: 60px;
  &__subject {
    padding: 30px 0 0 30px;
    &__txt {
      font-weight: 700;
      font-size: 38px;
      line-height: 46px;
      background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
    &__author {
      padding-top: 30px;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: $c-grey-600;
    }
    &__sign {
      padding-top: 8px;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: $c-grey-600;
    }
  }
}
.carousel-inner {
  display: flex;
}
.info-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $c-blue-400;
}
.grid-title {
  display: block;
  text-align: center;
  padding: 60px 0 30px 0;
  font-weight: 700;
  font-size: $h3-caps;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $c-indigo;
}
.grid-logo {
  display: grid;
  grid-template-columns: repeat(auto-fill, 430px);
  justify-content: center;
  &__img {
    max-width: 430px;
  }
}
@media screen and (min-width: 1440px) {
  .grid-logo {
  grid-template-columns: repeat(auto-fill, 360px);
  }
  
}
.aside {
  margin-top: 60px;
  background-color: $c-grey-300;
  &-link {
    padding: 30px 0 15px 0;
    font-weight: 700;
    font-size: $h3-caps;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $c-blue-400;
  }
  &-title {
padding-bottom: 30px;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  }
  &-content {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.aside-content__column {
  display: flex;
  flex-direction: column;
  background: $c-white;
  gap: 15px;
  padding: 30px;
  min-height: 250px;
  &__title {
    font-weight: 700;
    font-size: $txt-normal;
    line-height: 20px;
    color: $c-blue-400;
  }
  &__info {
    font-weight: 700;
    font-size: $txt-exsm;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $c-grey-600;
  }
  &--separator{
    max-width: 453.33px;
    height: 4px;
    background: $c-grey-500;
  }
  &__txt {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: black;
    max-width: 438px;
  }
}
.content-wrapper {
  max-width: 513.33px;
}
.footer {
  background-color: $c-grey-300;
  display: flex;
  gap: 30px;
  &--border {
    margin-top: 30px;
    max-width: 1600px;
    border: 2px solid $c-grey-500;
  }
  &-main {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    &__info {
      display: flex;
      gap: 10px;
      padding-bottom: 10px;
      &__link {
        font-weight: 700;
        font-size: $txt-exsm;
        line-height: 15px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $c-blue-400;
      }
      &__txt {
        font-weight: 400;
        font-size: $txt-normal;
        line-height: 20px;
        color: $c-indigo;
      }
    }
    &__contacts {
      display: flex;
      align-items: center;
      gap: 10px;
      &__contact {
        font-weight: 700;
        font-size: $txt-normal;
        line-height: 20px;
        text-align: right;
        color: $c-indigo-alt;
      }
      &__mail {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: $c-blue-400;
      }
    }
  }
}
.footer-main__left {
  font-weight: 400;
  font-size: $txt-normal;
  line-height: 20px;
  text-align: right;
  color: $c-grey-600;
}