$container-lg: 1338px;
$container-md: 1290px;
$container-padding-x: 15px;
$sm: 576px;
$md: 768x;
$lg: 1200px;
$gutter-col: 15px;
$grid-col-count: 12;
$grid-col-size: math.div(100%, $grid-col-count);

//colors
