/* 
$txt-sm: rem(15); */
/* $h5: rem(25); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img {
  max-width: 100%;
}

.container-lg {
  max-width: 1640px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

.container-xlg {
  max-width: 1760px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

.container-md {
  max-width: 1400px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  transition: 0.4s;
}

a:hover {
  color: #f0145a;
}

.btn-circle:hover {
  color: #f0145a;
}

.baner {
  display: flex;
}

.main-header__info {
  color: #ffffff;
}
.main-header__info__lang {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.main-header__info__txt {
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
}
.main-header__info__call {
  font-weight: 700;
  font-size: 1rem;
  line-height: 20px;
}

.main-header__nav--link {
  color: #ffffff;
  font-weight: 700;
  font-size: 1rem;
  line-height: 20px;
}

.theme-dark {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
}
.theme-dark .txt-primary {
  color: #ffffff;
}

.theme-light {
  background-color: #ffffff;
}
.theme-light .txt-primary {
  color: #323264;
}

.section-gradient {
  min-height: 100vh;
  border-radius: 0 0 12px 12px;
  position: relative;
  margin-bottom: 20px;
}
.section-gradient__shadow {
  position: absolute;
  height: 10px;
  border-radius: 0 0 12px 12px;
}
.section-gradient__shadow--1 {
  bottom: -10px;
  width: calc(100% - 40px);
  left: 20px;
  background: #cacadb;
}
.section-gradient__shadow--2 {
  bottom: -20px;
  width: calc(100% - 80px);
  left: 40px;
  background: #e7e7f2;
}

.main-wrap {
  min-height: 100vh;
  position: relative;
}
.main-wrap__bg {
  position: absolute;
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
}
.main-wrap__bg--object {
  position: absolute;
  height: 100%;
}
.main-wrap__content {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-wrap__nav {
  padding-bottom: 40px;
}

.main-header {
  display: grid;
  align-items: end;
  padding: 0 60px;
  grid-template-areas: "logo info" "logo nav";
}
@media screen and (max-width: 768px) {
  .main-header {
    grid-template-areas: "info" "logo" "nav";
  }
}
.main-header__logo {
  grid-area: logo;
}
.main-header__info {
  grid-area: info;
  display: flex;
  align-items: end;
  gap: 7px;
  padding-top: 50px;
  padding-bottom: 16px;
  align-items: center;
}
.main-header__nav {
  grid-area: nav;
  display: flex;
  gap: 15px;
}
.main-header__info, .main-header__nav {
  justify-self: start;
}
@media screen and (min-width: 768px) {
  .main-header__info, .main-header__nav {
    justify-self: end;
  }
}

.main-header__info__lang:hover {
  padding: 5px 7px;
  gap: 6px;
  width: 33px;
  height: 25px;
  background: #F0145A;
  border-radius: 8px;
}

.main {
  align-self: center;
  font-weight: 700;
  font-size: 2.375rem;
  line-height: 46px;
  color: #ffffff;
  padding-bottom: 40px;
}

.btn-circle {
  display: flex;
  justify-content: center;
}

.section-slider {
  margin-top: 60px;
  display: flex;
  gap: 60px;
  align-items: center;
}
.section-slider__list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
  text-align: right;
  border-right: 4px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  padding-right: 60px;
}
.section-slider__list__title {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  color: #b3b3ba;
  white-space: nowrap;
}
.section-slider__desc {
  max-width: 861px;
  min-height: 157px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section-slider__desc__title {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 37px;
  color: #ffffff;
}
.section-slider__desc__txt {
  font-weight: 400;
  font-size: 1.1875rem;
  line-height: 30px;
  color: #ffffff;
}

.carousel-inner--img {
  max-width: 400px;
  /* width: 100%; */
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 768px) {
  .carousel-inner--img {
    width: 648px;
    height: 500px;
  }
}
@media screen and (max-width: 1440px) {
  .section-slider__desc {
    max-width: 581px;
  }
}
@media screen and (max-width: 1024px) {
  .section-slider__desc {
    max-width: 405px;
  }
}
@media screen and (max-width: 768px) {
  .section-slider {
    flex-direction: column;
  }
  .section-slider__list {
    overflow-y: hidden;
    flex-direction: row;
    border-right: none;
    border-bottom: 4px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 60px;
  }
  .section-slider__desc {
    max-width: 648px;
  }
}
.section-services {
  margin-top: 60px;
}
.section-services--link {
  display: block;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.section-services__title {
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 2.375rem;
  line-height: 46px;
  color: #f0145a;
}
.section-services__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  padding-bottom: 60px;
}
.section-services__cards__card {
  display: flex;
  max-width: 440px;
  flex-direction: column;
}
.section-services__cards__icon {
  width: 92px;
}
.section-services__cards__title {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 27px;
  color: #24a3ff;
  padding: 30px 0 15px 0;
}
.section-services__cards__txt {
  font-weight: 400;
  font-size: 1rem;
  line-height: 26px;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .section-services__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 576px) {
  .section-services__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.link-color {
  color: #24a3ff;
}

.carousel-inner {
  display: flex;
  background-color: #f5f5fa;
  margin-top: 60px;
}
.carousel-inner__subject {
  padding: 30px 0 0 30px;
}
.carousel-inner__subject__txt {
  font-weight: 700;
  font-size: 2.375rem;
  line-height: 46px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.carousel-inner__subject__author {
  padding-top: 30px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 20px;
  color: #b3b3ba;
}
.carousel-inner__subject__sign {
  padding: 8px 0 30px 0;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 22px;
  color: #b3b3ba;
}

@media screen and (max-width: 1024px) {
  .carousel-inner {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.info-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
}

.grid-title {
  display: block;
  padding: 60px 0 30px 0;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  text-align: center;
}

.grid-logo {
  display: grid;
  grid-template-columns: repeat(auto-fill, 430px);
  justify-content: center;
}
.grid-logo__img {
  max-width: 430px;
}

@media screen and (min-width: 1440px) {
  .grid-logo {
    grid-template-columns: repeat(auto-fill, 360px);
  }
}
.aside {
  margin-top: 60px;
  background-color: #f5f5fa;
}
.aside-link {
  padding: 30px 0 15px 0;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
  text-align: left;
}
.aside-title {
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  color: transparent;
  text-align: left;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
}
.aside-content {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .aside {
    text-align: center;
  }
}
.aside-content__column {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  gap: 15px;
  padding: 30px;
  min-height: 250px;
}
.aside-content__column__title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 20px;
  color: #24a3ff;
}
.aside-content__column__info {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #b3b3ba;
}
.aside-content__column--separator {
  max-width: 453.33px;
  height: 4px;
  background: #e6e6f0;
}
.aside-content__column__txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: black;
  max-width: 438px;
}

.content-wrapper {
  max-width: 513.33px;
}

.footer {
  background-color: #f5f5fa;
  display: flex;
  gap: 30px;
}
.footer--border {
  margin-top: 30px;
  max-width: 1600px;
  border: 2px solid #e6e6f0;
}
.footer-main {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
.footer-main__info {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
  align-items: center;
}
.footer-main__info__link {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
}
.footer-main__info__txt {
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  color: #323264;
}
.footer-main__contacts {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-main__contacts__contact {
  font-weight: 700;
  font-size: 1rem;
  line-height: 20px;
  text-align: right;
  color: #46466e;
}
.footer-main__contacts__mail {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24a3ff;
}

.footer-main__left {
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  text-align: right;
  color: #b3b3ba;
}

@media screen and (max-width: 576px) {
  .footer-main {
    align-items: center;
    flex-direction: column;
  }
  .footer-main__info {
    flex-direction: column;
    align-items: center;
  }
  .footer-main__contacts {
    flex-direction: column;
  }
  .footer-main__left {
    padding: 30px 0 20px 0;
  }
  .separator {
    display: none;
  }
}
.main-wrapper {
  display: flex;
}

.main-header__page-link {
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 44px;
  color: #ffffff;
}

.main-subject {
  padding-top: 60px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}
.main-subject__title {
  font-weight: 700;
  font-size: 2.375rem;
  line-height: 46px;
  text-align: center;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.main-subject__txt {
  font-weight: 400;
  font-size: 1.1875rem;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}
.main-subject--button {
  padding: 18px 30px;
  width: 208px;
  height: 56px;
  background: #24a3ff;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
}

.main-section {
  border-top: 4px solid rgba(255, 255, 255, 0.5);
  margin: 60px 0;
}
.main-section__title {
  display: block;
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 27px;
  color: #ffffff;
  padding: 30px 0;
}
.main-section__content {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 26px;
  color: #ffffff;
}

.main-section__wrapper {
  display: flex;
  gap: 60px;
}

.main-section__info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 650px;
}

@media screen and (max-width: 576px) {
  .main-section__wrapper.services {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .footer-main.services {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
.footer-main__info.services {
  padding-bottom: 21px;
  align-items: center;
}

.footer-main__contacts.services {
  padding-bottom: 30px;
}