/* 
$txt-sm: rem(15); */
/* 
$txt-md: rem(20);
$txt-lg: rem(25);
$txt-exlg: rem(30); */
/* $h5: rem(25); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container-lg {
  max-width: 1630px;
  padding: 0;
  width: 100%;
  margin: 0 auto;
}

.container-xlg {
  max-width: 1750px;
  padding: 0;
  width: 100%;
  margin: 0 auto;
}

.container-md {
  max-width: 1390px;
  padding: 0;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  font-size: calc(1rem * 1.2);
  color: #f0145a;
}

.theme-dark {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
}
.theme-dark .txt-primary {
  color: #ffffff;
}

.theme-light {
  background-color: #ffffff;
}
.theme-light .txt-primary {
  color: #323264;
}

.section-gradient {
  min-height: 100vh;
  border-radius: 0 0 12px 12px;
  position: relative;
  margin-bottom: 20px;
}
.section-gradient__shadow {
  position: absolute;
  height: 10px;
  border-radius: 0 0 12px 12px;
}
.section-gradient__shadow--1 {
  bottom: -10px;
  width: calc(100% - 40px);
  left: 20px;
  background: #cacadb;
}
.section-gradient__shadow--2 {
  bottom: -20px;
  width: calc(100% - 80px);
  left: 40px;
  background: #e7e7f2;
}

.main-wrap {
  min-height: 100vh;
  position: relative;
}
.main-wrap__bg {
  min-height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}
.main-wrap__bg--object {
  position: absolute;
  height: 100%;
}
.main-wrap__content {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-header {
  border: 1px solid white;
  padding: 5px;
  color: white;
  display: grid;
  -moz-column-gap: 20px;
       column-gap: 20px;
  grid-template-areas: "logo info" "logo nav";
}
@media screen and (max-width: 768x) {
  .main-header {
    grid-template-areas: "info" "logo" "nav";
  }
}
.main-header__logo, .main-header__info, .main-header__nav {
  padding: 20px;
}
.main-header__logo {
  grid-area: logo;
}
.main-header__info {
  grid-area: info;
}
.main-header__nav {
  grid-area: nav;
}