/* 
$txt-sm: rem(15); */
/* 
$txt-md: rem(20);
$txt-lg: rem(25);
$txt-exlg: rem(30); */
/* $h5: rem(25); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container-lg {
  max-width: 1640px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

.container-xlg {
  max-width: 1760px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

.container-md {
  max-width: 1400px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  transition: 0.4s;
}

a:hover {
  color: #f0145a;
}

.btn-circle:hover {
  color: #f0145a;
}

.baner {
  display: flex;
}

.main-header__info {
  color: #ffffff;
}
.main-header__info__lang {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.main-header__info__txt {
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
}
.main-header__info__call {
  font-weight: 700;
  font-size: 1rem;
  line-height: 20px;
}

.main-header__nav--link {
  color: #ffffff;
  font-weight: 700;
  font-size: 1rem;
  line-height: 20px;
}

.theme-dark {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
}
.theme-dark .txt-primary {
  color: #ffffff;
}

.theme-light {
  background-color: #ffffff;
}
.theme-light .txt-primary {
  color: #323264;
}

.section-gradient {
  min-height: 100vh;
  border-radius: 0 0 12px 12px;
  position: relative;
  margin-bottom: 20px;
}
.section-gradient__shadow {
  position: absolute;
  height: 10px;
  border-radius: 0 0 12px 12px;
}
.section-gradient__shadow--1 {
  bottom: -10px;
  width: calc(100% - 40px);
  left: 20px;
  background: #cacadb;
}
.section-gradient__shadow--2 {
  bottom: -20px;
  width: calc(100% - 80px);
  left: 40px;
  background: #e7e7f2;
}

.main-wrap {
  min-height: 100vh;
  position: relative;
}
.main-wrap__bg {
  position: absolute;
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
}
.main-wrap__bg--object {
  position: absolute;
  height: 100%;
}
.main-wrap__content {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-wrap__nav {
  padding-bottom: 40px;
}

.main-header {
  display: grid;
  align-items: end;
  padding: 0 60px;
  grid-template-areas: "logo info" "logo nav";
}
@media screen and (max-width: 768px) {
  .main-header {
    grid-template-areas: "info" "logo" "nav";
  }
}
.main-header__logo {
  grid-area: logo;
}
.main-header__info {
  grid-area: info;
  display: flex;
  align-items: end;
  gap: 7px;
  padding-top: 50px;
  padding-bottom: 16px;
  align-items: center;
}
.main-header__nav {
  grid-area: nav;
  display: flex;
  gap: 15px;
}
.main-header__info, .main-header__nav {
  justify-self: start;
}
@media screen and (min-width: 768px) {
  .main-header__info, .main-header__nav {
    justify-self: end;
  }
}

.main {
  align-self: center;
  font-weight: 700;
  font-size: 2.375rem;
  line-height: 46px;
  color: #ffffff;
  padding-bottom: 40px;
}

.btn-circle {
  display: flex;
  justify-content: center;
}

.section-slider {
  margin-top: 60px;
  display: flex;
  gap: 124px;
  align-items: center;
  text-align: right;
}
.section-slider__list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
}
.section-slider__list__title {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  color: #b3b3ba;
}
.section-slider__desc {
  max-width: 861px;
  min-height: 157px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section-slider__desc__title {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 37px;
  color: #ffffff;
}
.section-slider__desc__txt {
  font-weight: 400;
  font-size: 1.1875rem;
  line-height: 30px;
  color: #ffffff;
}

.section-services {
  margin-top: 60px;
}
.section-services--link {
  display: block;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.section-services__title {
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 2.375rem;
  line-height: 46px;
  color: #f0145a;
}
.section-services__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}
.section-services__cards__card {
  display: flex;
  max-width: 440px;
  flex-direction: column;
}
.section-services__cards__icon {
  width: 92px;
}
.section-services__cards__title {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 27px;
  color: #24a3ff;
  padding: 30px 0 15px 0;
}
.section-services__cards__txt {
  font-weight: 400;
  font-size: 1rem;
  line-height: 26px;
  color: #ffffff;
}

.link-color {
  color: #ffffff;
}

.carousel-item {
  max-width: 400px;
}

.grid-title {
  display: block;
  text-align: center;
  padding: 60px 0 30px 0;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
}

.grid-logo {
  display: grid;
  grid-template-columns: repeat(auto-fill, 430px);
  justify-content: center;
}

.aside {
  margin-top: 60px;
  background-color: #f5f5fa;
}
.aside-link {
  padding: 30px 0 15px 0;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
}
.aside-title {
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
}
.aside-content {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.aside-content__column {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  gap: 15px;
  padding: 30px;
  min-height: 250px;
}
.aside-content__column__title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 20px;
  color: #24a3ff;
}
.aside-content__column__info {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #b3b3ba;
}
.aside-content__column--separator {
  max-width: 453.33px;
  height: 4px;
  background: #e6e6f0;
}
.aside-content__column__txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: black;
  max-width: 438px;
}

.content-wrapper {
  max-width: 513.33px;
}